@model IEnumerable<ExpressVoituresApp.Models.VehiculeReparationViewModel>


@{
    ViewData["Title"] = "Réparations";
}

<h1 class="mb-4">Réparations des véhicules</h1>

<a asp-action="Create"
   class="btn mb-5 btn-cars">
    Enregistrer une réparation
</a>

@if (!Model.Any())
{
    <div class="alert text-center">
        Aucune réparation trouvée.
    </div>
}
else
{
    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <div class="d-flex mb-3">
                <h5 class="card-title">@item.Vehicule?.Marque @item.Vehicule?.Modele (@item.Vehicule?.Annee) :</h5>
                <p class="ms-2">@item.Reparation.Description</p>
                <p class="ms-2"> @item.Reparation.Cout €</p>
            </div>

        }
    </div>
}
