@model IEnumerable<ExpressVoituresApp.Models.VehiculeReparationViewModel>


@{
    ViewData["Title"] = "Réparations";
}

<h1 class="mb-4">Historique des réparations</h1>

<a asp-action="Create"
   class="btn mb-5 btn-cars">
    Enregistrer une réparation
</a>

@if (!Model.Any())
{
    <div class="alert text-center">
        Aucune réparation trouvée.
    </div>
}
else
{
    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <div class="d-flex mb-3">
                <h5 class="card-title">@item.Vehicule?.Marque @item.Vehicule?.Modele (@item.Vehicule?.Annee) :</h5>
                <p class="m-2">@item.Reparation.Description</p>
                <p class="m-2"> @item.Reparation.Cout €</p>
            </div>
        }
    </div>
}

@* message de succès après enregistrement d'un véhicule *@
@if (TempData["SuccessMessage"] != null)
{
    <div id="flashMessage" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@section Scripts {
    <script>
        // Supprime le message après 3 secondes
        const flash = document.getElementById("flashMessage");
        if(flash) {
            setTimeout(() => {
                flash.style.transition = "opacity 0.5s ease";
                flash.style.opacity = "0";
                setTimeout(() => flash.remove(), 500);
            }, 3000);
        }
    </script>
}
